@use "../abstracts";
.profile {
    background: var(--bg-color-1);

    &__container {
        margin: 60px 0;
    }

    &__sidebar {
        padding-bottom: 30px;
        border-radius: 20px;
        background: #fff;
    }

    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px 20px 0 0;
        background: linear-gradient(
                180deg,
                rgba(26, 22, 46, 0) 0%,
                #1a162e 100%
            ),
            url(../../assets/img/profile/cover.png) no-repeat center / cover;

        &-avatar {
            width: 140px;
            height: 140px;
            margin-top: 40px;
            border-radius: 50%;
            border: 5px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
            user-select: none;
        }

        &-name {
            margin-top: 20px;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.44;
        }

        &-desc {
            margin: 4px 0 20px;
            color: #fafafd;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.47;
        }
    }

    &-menu {
        margin-top: 30px;
        padding: 0 30px;

        &__title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44;
        }

        &__list {
            margin-top: 17px;
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px;
            color: #333;
            font-size: 1.5rem;
            border-radius: 4px;

            &:hover {
                background: #f1f1f1;
            }
        }
    }

    &-menu + &-menu {
        margin-top: 17px;
    }

    &__content-wrap {
        padding: 30px;
        border-radius: 12px;

        background: #fff;
    }

    &__content + &__content {
        margin-top: 30px;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.42;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 1.66;
    }

    &__row {
        margin-top: 16px;
    }

    &__payment {
        width: 100%;
        cursor: pointer;
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px;
        border-radius: 8px;
        background: #f6f6f6;

        &-title {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.46;
        }

        &-desc {
            margin-top: 6px;
            font-size: 1.4rem;
            line-height: 1.43;
        }
    }

    &__img-wrap {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        border-radius: 8px;
        background: #fff;
    }
}

.add-new-card {
    position: relative;

    padding-top: 61%;
    border-radius: 8px;
    border: 1px dashed #a8a8a8;
    cursor: pointer;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }

    &__desc {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5;
    }
}


// avatar model
.avatar__modal {
    position: fixed;
    z-index: 2;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    
    &.avatar__modal.active {
        opacity: 1;
        visibility: visible;
    }

    &.avatar__modal.active .avatar__modal-content {
        transform: scale(1);
    }

    &-overlay {
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &-content {
        display: flex;
        flex-direction: column;
        max-width: 750px;
        min-width: 550px;
        max-height: 750px;
        min-height: 400px;
        padding: 24px;
        background-color: #fff;
        box-shadow: 1px 1px rgba($color: #000000, $alpha: 0.2);
        border-radius: 12px;
        transform: scale(0.9);
        transition: transform 0.3s ease;

        @include abstracts.screen(sm) {
            height: 650px;
        }
    }
    

    &-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
        border-bottom: 1px solid #ccc;
    }

    &-title {
        font-size: 24px;
    }

    &-close {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        background-color: #ececec;
        font-size: 24px;
        border-radius: 50%;
        cursor: pointer;
        color: #333;
        &:hover {
            background-color: #dadada;
        }
    }

    &-body {
        flex: 1;
    }

    &-action {
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    &-upload-btn {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        height: 40px;
        background-color: #e0eae5;
        border-radius: 6px;
        color: #032e32;
        font-weight: 600;

        &:hover {
            background-color: #cad9d2;
        }
    }

    &-avatar-frame {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        height: 40px;
        background-color: #ebf5ff;
        border-radius: 6px;
        color: #2e80da;
        font-weight: 600;
        &:hover {
            background-color: #d8e6f5;
        }
    }

    &-uploaded {
        padding-top: 24px;

        &-list {
            display: flex;
            justify-content: space-between;
            row-gap: 12px;
            flex-wrap: wrap;
            margin-top: 16px;
        }
    }

    &-uploaded-img {
        max-width: 130px;
        border-radius: 4px;
        cursor: pointer;
        transition: transform 0.2s, border 0.2s;
        &:hover {
            transform: scale(1.05);
        }

        &.selected {
            border: 3px solid #2e80da;
            transform: scale(1.1);
        }

        @include abstracts.screen(sm) {
            max-width: 80px;
        }
    }
}


.see-more-btn {
    display: block;
    width: 180px;
    height: 40px;
    margin: 24px auto 0;
    color: #333;
    border-radius: 4px;
    background-color:#e7e7e7;
    font-weight: 600;
    &:hover {
        color: #000000;
        background-color: #ccc;
    }
}

#confirmAvatarBtn {
    width: 100%;
    height: 42px;
    margin-top: 16px;
    color: #fff;
    border-radius: 4px;
    background-color:#0f5258;
    font-weight: 600;
    &:hover {
        color: #fff;
        background-color: #02353a;
    }
}

// #e0eae5