@use "../abstracts";

.frame {
    display: flex;
    align-items: center;
    gap: 130px;

    @include abstracts.screen(xl) {
        gap: 80px;
    }

    @include abstracts.screen(lg) {
        flex-direction: column;
        gap: 60px;
    }

    @include abstracts.screen(md) {
        gap: 40px;
    }

    &__square-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;

        @include abstracts.screen(md) {
            column-gap: 20px;
        }
    }

    &__square {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 220px;
        border-radius: 12px;
        color: var(--primary-color);
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.31;

        @include abstracts.screen(xl) {
            width: 180px;
            height: 180px;
        }

        @include abstracts.screen(md) {
            width: 140px;
            height: 140px;
            font-size: 2.2rem;
        }
    }

    &__img {
        width: 100%;
    }
}
