.popup {
    visibility: hidden;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 0.3s linear;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &__container {
        max-width: 600px;
        min-width: 460px;
        padding: 24px;
        border-radius: 12px;
        background-color: #fff;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
            font-size: 22px;
        }
    }

    &__body {
        margin-top: 12px;
        // padding-bottom: 32px;
    }

    &__footer {
        // margin-top: 32px;
    }

    &__submit-btn {
        display: block;
        width: 100%;
        height: 44px;
        border-radius: 6px;
        background-color: #b5ed3d;
    }

    &__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #ccc;
        &:hover {
            background-color: #c2c2c2;
        }
    }

    &__separate {
        background-color: #e7e7e7;
    }

    &__mt {
        margin-top: 62px;
    }

}
    