<div class="container">
    <div class="footer__inner">
        <div class="footer__top">
            <div class="footer__row">
                <div class="footer__column">
                    <h3 class="footer__title">Courses</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link"
                                >Classroom Courses</a
                            >
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link"
                                >Virtual Classroom Courses</a
                            >
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link"
                                >E-Learning Courses</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h3 class="footer__title">Circuit</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">About us</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Why Circuit</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Testimonials</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Promotions</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Blog</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Podcasts</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Forum</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__column">
                    <h3 class="footer__title">Help</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Contact us</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Our Venues</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">My account</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h3 class="footer__title">Newsletter</h3>
                    <form action="" class="form footer__form">
                        <div class="form__row">
                            <div class="form__group">
                                <div class="form__group-horizontal">
                                    <input
                                        type="email"
                                        placeholder="Email address"
                                        class="form__group-input"
                                    />
                                </div>
                            </div>
                            <button class="btn footer__form-submit-btn">
                                Subscribe
                            </button>
                        </div>
                    </form>
                    <div class="footer__contact">
                        <div>
                            <p class="footer__contact-label">Email us</p>
                            <a
                                href="mailto:email@gmail.com"
                                class="footer__contact-value"
                                >email@gmail.com</a
                            >
                        </div>
                        <div>
                            <p class="footer__contact-label">Call us</p>
                            <a
                                href="tel:000 1234 5678"
                                class="footer__contact-value"
                                >000 1234 5678</a
                            >
                        </div>
                    </div>
                    <div class="social">
                        <div class="social__list">
                            <a href="#!" class="social__item">
                                <img
                                    src="../assets/icon/facebook.svg"
                                    alt="facebook"
                                />
                            </a>
                            <a href="#!" class="social__item">
                                <img
                                    src="./assets/icon/linked.png"
                                    alt="linked"
                                />
                            </a>
                            <a href="#!" class="social__item">
                                <img
                                    src="./assets/icon/twitter.svg"
                                    alt="twitter"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <a href="/" class="logo">
                <img src="./assets/icon/logo.svg" alt="logo" />
                <span class="logo__text">circuit</span>
            </a>
            <div class="payments">
                <img src="./assets/icon/paypal.svg" alt="paypal" />
                <img src="./assets/icon/visa.svg" alt="visa" />
                <img src="./assets/icon/mastercard.svg" alt="mastercard" />
            </div>
            <p class="copyright">Copyright © 2022 UIHUT all rights reserved.</p>
        </div>
    </div>
</div>
