<div class="popup__wrapper">
    <div class="popup__overlay">
        <!-- <div class="container"></div> -->
        <div class="popup__container">
            <div class="popup__header">
                <h3 class="popup__header-title">Change email address</h3>
                <span class="popup__close-btn" id="change-password__close-btn">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>
            <div class="separate popup__separate"></div>
            <div class="popup__body">
                <form id="change-password-form">
                    <div class="form__group">
                        <label for="password" class="form__label">New Password</label>
                        <div class="form__group-horizontal form__group-horizontal-border">
                            <input type="password" placeholder="Enter your password" id="password" class="form__group-input" required/>
                        </div>
                        <p class="form__error" id="form__error">Invalid password, please re-enter</p>
                    </div>
                    <div class="form__group">
                        <label for="confirmPassword" class="form__label">Confirm password</label>
                        <div class="form__group-horizontal form__group-horizontal-border">
                            <input type="password" placeholder="Enter confirm password" id="confirmPassword" class="form__group-input" required/>
                        </div>
                        <p class="form__error" id="password__error">Invalid email, please re-enter</p>
                    </div>
                    <button type="submit" class="popup__submit-btn popup__mt">Submit</button>
                </form>
            </div>
            <!-- <div class="popup__footer">
            </div> -->
        </div>
    </div>
</div>